<div class="card">
    <div class="card__image" style={{imageStyle}} onClick={{action "launchModal" name defaultImage}}></div>
    <div class="card__body">
        <div class="card__body__title">{{name}}</div>
        <div class="card__body__subtitle">{{ageAndGender}}</div>
        <p class="card__body__text">
            {{bio}}
        </p>
        <p class="card__body__text">
            {{pet-attributes
                attributes=attributes
                showIcon=true
            }}
        </p>
        <button class="btn btn--block card__body__btn" onClick={{readMore}}>Read More</button>
    </div>
</div>
