<div class="card__image" style="background-image: url({{defaultImage}})"></div>
<div class="card__body">
    <div class="card__body__title">{{name}}</div>
    <p class="card__body__text">
        stuff awesome bio and details coming super soon
    </p>
    {{#each attributes as |attribute|}}
        <p class="card__body__text">
            {{fa-icon attribute.icon}} {{attribute.name}}: {{attribute.value}}
        </p>
    {{/each}}
    <button class="btn btn--block card__body__btn">Read More</button>
</div>
