<div class="card">
    <div class="card__image" style={{imageStyle}} onClick={{action "launchModal" name defaultImage}}></div>
    <div class="card__body">
        <div class="card__body__title">{{name}}</div>
        <p class="card__body__text">
            {{bio}}
        </p>
        {{#each attributes as |attribute|}}
            {{pet-attribute
                icon=attribute.icon
                name=attribute.name
                value=attribute.value
            }}
        {{/each}}
        <button class="btn btn--block card__body__btn">Read More</button>
    </div>
</div>
