<thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Dog Name</th>
        <th scope="col">Intake Date</th>
        <th scope="col">Days in Rescue</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Owner/Shelter</th>
        <th scope="col">Intake Person</th>
        <th scope="col">HW Status</th>
        <th scope="col">HW Treatment Start</th>
        <th scope="col">Current Status</th>
        <th scope="col">{{locationName}}</th>
        <th scope="col">{{status}} Date</th>
    </tr>
</thead>
<tbody>
    {{#each dogs as |dog index|}}
        <tr>
            <th scope="row">{{dog.id}}</th>
            <td>{{dog.name}}</td>
            <td>{{moment-format dog.date_aquired 'MM/DD/YYYY'}}</td>
            <td>{{dog.days_in_rescue}}</td>
            <td>{{moment-to-now dog.date_of_birth hideAffix=true}}</td>
            <td>{{dog.sex}}</td>
            <td>{{dog.where_was_pet_originally_found}}</td>
            <td>{{dog.acquired_by}}</td>
            <td>{{dog.hw_status}}</td>
            {{#if (not dog.hw_treatment_date)}}
                <td>N/A</td>
            {{else if (eq dog.hw_treatment_date "Unknown")}}
                <td>Unknown</td>
            {{else}}
                <td>{{moment-format dog.hw_treatment_date 'MM/DD/YYYY'}}</td>
            {{/if}}
            <td>{{dog.status}}</td>
            <td>{{dog.current_location}}</td>
            {{#if (eq locationName "Adopter")}}
                <td>{{moment-format dog.app_adoption_date 'MM/DD/YYYY'}}</td>
            {{else}}
                <td>{{moment-format dog.app_foster_date 'MM/DD/YYYY'}}</td>
            {{/if}}
        </tr>
    {{/each}}
</tbody>
