{{#if loading}}
    {{loader}}
{{else}}
    {{navbar
        title=model.name
        hideFilter=true
        bigName=true
    }}
    <div class="image-gallery">
        {{#each model.images as |image index|}}
            <div class="image-container">
                <img
                    src={{image.url}}
                    alt={{model.name}}
                    onClick={{action "launchModal" image.url index}}
                >
            </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="go-back">
            {{#link-to "index"}}
                Go Back to All Dogs
            {{/link-to}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <table class="table table-striped border">
                <tbody>
                    {{pet-attributes
                        attributes=model.pet_attributes
                        showIcon=false
                    }}
                </tbody>
            </table>
        </div>
        <div class="bio col-12 col-md-6 col-lg-8">
            {{#each htmlSafeBios as |bio|}}
                {{bio}}
            {{/each}}
            {{#if showVideos}}
                {{#each model.youTubeURLS as |url index|}}
                    <div class="video-container">
                        <iframe
                            id="{{model.name}}-{{index}}"
                            class="video"
                            src={{url}}
                            title={{model.name}}
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                            >
                        </iframe>
                    </div>
                {{/each}}
            {{/if}}
            <p>Information last updated: {{model.updated_at}}</p>

        </div>
        <div class="go-back">
            {{#link-to "index"}}
                Go Back to All Dogs
            {{/link-to}}
        </div>
    </div>

    {{#if showModal}}
        {{image-modal
            changePhoto=(action "changePhoto")
            imageList=model.images
            index=photoIndex
            isVideo=isVideo
            modalImageUrl=modalImageUrl
            modalTitle=modalTitle
            showModal=showModal
        }}
    {{/if}}
{{/if}}