{{#if loading}}
    {{loader}}
{{else}}
    {{navbar
        title=model.name
        hideFilter=true
        bigName=true
    }}
    <div class="image-gallery">
            {{#each model.images as |image|}}
                <div class="image-container">
                    <img
                        src={{image.url}}
                        alt={{model.name}}
                        onClick={{action "launchModal" model.name image.url
                    }}>
                </div>
            {{/each}}
        </div>
    <div class="dog-content">
        <div class="stats">
            <table class="attributes-table">
                {{pet-attributes
                    attributes=model.pet_attributes
                    showIcon=false
                }}
            </table>
        </div>
        <div class="bio">
            {{#each htmlSafeBios as |bio|}}
                <p>{{bio}}</p>
            {{/each}}
        </div>
    </div>

    {{#if showModal}}
        {{image-modal
            showModal=showModal
            modalTitle=modalTitle
            modalImageUrl=modalImageUrl
        }}
    {{/if}}
{{/if}}