{{#if loading}}
    {{loader}}
{{else}}
    {{navbar
        title=""
        toggleGoodWithBigDogs=(action "toggleGoodWithBigDogs")
        toggleGoodWithSmallDogs=(action "toggleGoodWithSmallDogs")
        toggleGoodWithKids=(action "toggleGoodWithKids")
        toggleGoodWithCats=(action "toggleGoodWithCats")
    }}

    <div class="divider">
            <h1>Dogs Available for Adoption</h1>
        </div>
    <div class="content">
        <ul class="card-container">
            {{#each filteredDogs as |dog|}}
                {{card
                    name=dog.name
                    description=dog.description
                    defaultImage=dog.pet_image
                    attributes=dog.pet_attributes
                    gender=dog.sex
                    launchModal=(action "launchModal")
                    readMore=(action "readMore" dog)
                }}
            {{/each}}
        </ul>

        <div class="divider">
            <h1>Dogs Available Soon for Adoption</h1>
            <p>
                Dogs listed below are NOT currently ready for adoption, but will be soon.
            </p>
        </div>
        <ul class="card-container">
            {{#each comingSoonDogs as |dog|}}
                {{card
                    name=dog.name
                    description=dog.description
                    defaultImage=dog.pet_image
                    attributes=dog.pet_attributes
                    gender=dog.sex
                    launchModal=(action "launchModal")
                    readMore=(action "readMore" dog)
                }}
            {{/each}}
        </ul>

        <div class="divider">
            <h1>Dogs Pending Adoption</h1>
            <p>
                Dogs listed below are NOT currently available for adoption.
                They have gone home with an adopter for a two week trial.
            </p>
        </div>
        <ul class="card-container">
            {{#each adoptionPendingDogs as |dog|}}
                {{card
                    name=dog.name
                    description=dog.description
                    defaultImage=dog.pet_image
                    attributes=dog.pet_attributes
                    gender=dog.sex
                    launchModal=(action "launchModal")
                    readMore=(action "readMore" dog)
                }}
            {{/each}}
        </ul>
    </div>
{{/if}}

{{#if showModal}}
    {{image-modal
        showModal=showModal
        modalTitle=modalTitle
        modalImageUrl=modalImageUrl
    }}
{{/if}}