{{#if loading}}
    {{loader}}
{{else}}
    {{navbar
        title=""
        toggleGoodWithBigDogs=(action "toggleGoodWithBigDogs")
        toggleGoodWithSmallDogs=(action "toggleGoodWithSmallDogs")
        toggleGoodWithKids=(action "toggleGoodWithKids")
        toggleGoodWithCats=(action "toggleGoodWithCats")
    }}

    <div class="divider">
            <h1>Dogs Available for Adoption</h1>
        </div>
    <div class="content">
        <ul class="card-container">
            {{#each filteredDogs as |dog|}}
                {{card
                    name=dog.name
                    description=dog.description
                    defaultImage=dog.pet_image
                    attributes=dog.pet_attributes
                    gender=dog.sex
                    launchModal=(action "launchModal")
                    readMore=(action "readMore" dog)
                }}
            {{/each}}
        </ul>

        <div class="divider">
            <h1>Dogs Available Soon for Adoption</h1>
        </div>
        <div class="info">
            <p>
                Dogs listed below are NOT currently ready for adoption.
                If you are interested any of the dogs below, please email me to let me know.
                I will forward your information to the foster AFTER they are available for adoption.
            </p>
        </div>
        <ul class="card-container">
            {{#each comingSoonDogs as |dog|}}
                {{card
                    name=dog.name
                    description=dog.description
                    defaultImage=dog.pet_image
                    attributes=dog.pet_attributes
                    gender=dog.sex
                    launchModal=(action "launchModal")
                    readMore=(action "readMore" dog)
                }}
            {{/each}}
        </ul>

        <div class="divider">
            <h1>Dogs Pending Adoption</h1>
        </div>

        <div class="info">
            <p>
                Dogs listed below are NOT currently available for adoption.
                They have gone home with an adopter for a two week trial. If you are interested in any of these dogs,
                you may let me know, and if the adoption does not work out, I will be in touch.
            </p>
        </div>

        <ul class="card-container">
            {{#each adoptionPendingDogs as |dog|}}
                {{card
                    name=dog.name
                    description=dog.description
                    defaultImage=dog.pet_image
                    attributes=dog.pet_attributes
                    gender=dog.sex
                    launchModal=(action "launchModal")
                    readMore=(action "readMore" dog)
                }}
            {{/each}}
        </ul>
    </div>

    <div class="divider">
        <h1>Upcoming Events</h1>
    </div>

    <div class="responsive-calendar">
        <iframe
            src="https://calendar.google.com/calendar/embed?src=events.ghgsdr%40gmail.com&ctz=America%2FChicago"
            style="border: 0"
            width="800"
            height="600"
            frameborder="0"
            scrolling="no"
        ></iframe>
    </div>
{{/if}}

{{#if showModal}}
    {{image-modal
        showModal=showModal
        modalTitle=modalTitle
        modalImageUrl=modalImageUrl
    }}
{{/if}}